nav{
    background: rgba(0, 0, 0, 0.4);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: fixed;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blue(15px);
}

nav a {
    background: transparent;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-bg);
    font-size: 1.1rem;
}

nav a:hover{
    background:var(--color-primary);
    color: white;
}

nav a:active{
    background: var(--color-white);
    color:var(--color-white);
}


























